<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Jordan Schnur</a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbarCollapsing()"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="!isNavbarCollapsed" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeSection == 'about'" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeSection == 'experience'" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeSection == 'projects'" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeSection == 'education'" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeSection == 'skills'" href="#skills">Skills</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/jordan-schnur" target="_blank">GitHub</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/jordan-schnur/" target="_blank">LinkedIn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:jordan@jordanschnur.com">Email</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
