<div class="container py-5">
  <h1>About Me</h1>
  <p>Innovative and driven, I'm Jordan Schnur, a Full Stack Software Engineer skilled in PHP, JavaScript, and a suite of modern technologies. I excel in crafting applications that power enterprises and startups alike, ensuring scalability and high availability. With a rich background in remote team leadership, I bring projects from concept to deployment with a focus on efficiency and user experience. Curious about my work? Take a moment to explore the site and discover the versatility and depth of my engineering portfolio.</p>
</div>
