<div class="container py-5" id="experience">
  <h1>Work Experience</h1>
  <!-- ZeroedIn Technologies Experience -->
  <div class="experience-item">
    <h3>Full Stack Software Engineer | ZeroedIn Technologies | Pittsburgh, PA</h3>
    <p>05/22 – 03/24</p>
    <ul>
      <li>Directed an 8-member remote team, enhancing project communication and collaboration, while effectively managing development sprints using Jira.</li>
      <li>Engineered a robust full-stack data analytics application that processes over 2 terabytes of data, significantly boosting data insight acquisition for leading Fortune 500 companies and government agencies using PHP, React, and TypeScript.</li>
      <li>Orchestrated the successful launch of a flagship application, achieving optimized workflows and peak efficiency.</li>
      <li>Implemented a high availability, scalable microservice architecture with RabbitMQ, Airflow, and AWS, achieving 99.99% uptime for critical messaging services.</li>
    </ul>
  </div>
  <div class="experience-item">
    <h3>Full Stack Software Engineer | JazzHR | Pittsburgh, PA</h3>
    <p>02/21 – 05/22</p>
    <ul>
      <li>Engineered robust CMS components within a high-traffic environment, ensuring seamless content management and presentation using TypeScript, Angular, SASS, PHP, and Symfony.</li>
      <li>Developed a Java-based microservice, processing over 100,000 applications daily, integrating with Apache Kafka for reliable data streaming.</li>
      <li>Led key projects from inception to launch, consistently meeting and exceeding stakeholder expectations.</li>
    </ul>
  </div>
  <!-- Shockley Consulting Experience -->
  <div class="experience-item">
    <h3>Founder | Shockley Consulting | Pittsburgh, PA</h3>
    <p>9/22 - Present</p>
    <ul>
      <li>Established a consulting firm providing comprehensive software solutions, from conceptualization to deployment, emphasizing custom functionality and high-performance standards.</li>
      <li>Specialized in cross-platform development and engineered tailored web and mobile applications for diverse clientele, ensuring scalability and responsive design.</li>
      <li>Advocated for and implemented DEI initiatives, fostering an inclusive environment and enhancing company culture.</li>
    </ul>
  </div>
  <!-- Trilogy Education Experience -->
  <div class="experience-item">
    <h3>Instructional Specialist | Trilogy Education | New York, NY</h3>
    <p>12/21 – 12/23</p>
    <ul>
      <li>Facilitated cutting-edge web development bootcamps, mentoring students through hands-on projects in JavaScript, PHP, and modern frameworks.</li>
      <li>Curated a comprehensive curriculum focusing on full-stack development practices, contributing to the professional growth of over 150 aspiring developers.</li>
      <li>Collaborated with a team of educators to refine teaching methodologies, integrating industry best practices to enhance instructional delivery.</li>
    </ul>
  </div>
  <!-- Freelance Programmer Experience -->
  <div class="experience-item">
    <h3>Online Freelance Programmer | Pittsburgh, PA</h3>
    <p>01/16 – 07/20</p>
    <ul>
      <li>Developed and deployed custom web and mobile solutions for over 20 clients, focusing on user-centric design and functionality across platforms using Java, C#, .NET, JavaScript, Azure, SASS, and PostgreSQL.</li>
      <li>Delivered high-performance cross-platform desktop applications, demonstrating proficiency in Java/Swing and C++/Qt environments.</li>
      <li>Maintained a diverse portfolio of clients across the U.S., achieving high satisfaction rates through strategic project management and client engagement.</li>
    </ul>
  </div>
</div>
