<div id="projects" class="container-fluid py-5">
  <h1>Projects</h1>
  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item" role="presentation">
      <button type="button" class="nav-link" [class.active]="selectedTags.size === 0" (click)="selectAllTags()">All</button>
    </li>
    <li class="nav-item" role="presentation" *ngFor="let tag of getUniqueTags()">
      <button type="button" class="nav-link" [class.active]="selectedTags.has(tag)" (click)="toggleTag(tag)">{{ tag }}</button>
    </li>
  </ul>
  <div class="row project-row">
    <div class="col-md-3 mb-4" *ngFor="let project of filteredProjects">
      <div
        class="card"
        (click)="openModal(project)"
        [class.show]="shouldBeVisible(project)"
        [style.background-image]="project.image ? 'url(' + project.image + ')' : 'none'"
      >
        <div class="card-body">
          <h5 class="card-title">{{ project.name }}</h5>
          <a [href]="project.link" class="stretched-link" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>
</div>
