@media (max-width: 768px) {
  #projects .card {
    width: 100%;
  }
}

@media (max-width: 576px) {
  #projects .nav-pills .nav-link {
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    margin-bottom: 5px;
  }
}

.active-tag {
  background-color: #007bff;
  color: white;
}

.btn-group {
  display: flex;
  justify-content: center;
}

.project-row {
  margin-top: 2rem;
  justify-content: space-around;
}

.project-row .card > image {
  width: 100%;
}

.card {
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease, background-size 0.5s ease-in;
  background-position: center;
  background-size: 100%;
  text-shadow: 1px 1px 5px white;

  &:hover {
    transform: translateY(-5px);
    background-size: 105%;
    transition: opacity 0.5s ease, transform 0.5s ease, background-size 0.5s ease-out;
  }
}

#projects .nav-pills .nav-link {
  border-radius: 50rem;
  margin-right: 5px;
  padding: 5px 10px;

  &:hover {
    background-color: #17a2b8; // Color when hovering
    color: white;
  }

  &.active {
    background-color: #007bff; // Active pill color
    color: white;
  }
}
